<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <div class="navbar-brand" ><%= t(:prepare) %></div>
  </div>
</nav>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1 well">
    <h2><%= t(:about) %></h2>
    <p><b><%= t(:input) %></b></p>
    <p><%= t(:input_about) %></p>
    <div class="image-container">
      <%= image_tag "input.png" %>
    </div>
    <p><b><%= t(:output) %></b></p>
    <p><%= t(:output_about) %></p>
    <div class="image-container">
      <%= image_tag "output.png" %>
    </div>
    <p><b><%= t(:tips) %></b></p>
    <p><%= t(:tips_about) %>
      <ul>
        <li><%= t(:tip_one) %></li>
        <li><%= t(:tip_two) %></li>
        <li><%= t(:tip_three) %></li>
        <li><%= t(:tip_four) %></li>
      </ul>
      <a target="_blank" href="https://gist.github.com/benrudolph/6582557/raw/252b6016edfaf60d320e90263cf1f050829233b0/FrontlineSMS_Contact_Export_20130916.csv"><%= t(:here) %>&nbsp;</a><%= t(:example) %>
    </p>
  </div>
  <div class="col-md-3 col-md-offset-1 well">
    <h2><%= t(:upload_form) %></h2>
    <%= form_for @sheet, :url => '/quoted', :role => 'form', :html => { :multipart => true } do |form| %>
      <div class="form-group">
        <%= label_tag(:title, 'Name for CSV: ') %>
        <%= form.text_field :title, :placeholder => t(:placeholder), :class => 'form-control' %>

      </div>
      <div class="form-group">
        <%= label_tag(:sheet, t(:file_upload) + ': ') %>
        <%= form.file_field :sheet, :id => 'spreadsheet' %>
      </div>
      <ul class="list-group">
        <li class="list-group-item name status"><%= t(:check_one) %></li>
        <li class="list-group-item mobile status"><%= t(:check_two) %></li>
      </ul>
      <div class="form-group">
        <%= form.submit t(:convert), :class => 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
